/* epub.css */


/* fallback for all MathML subelements */
mi,
mn,
mo,
mrow {
    white-space: normal !important;
}

/* handsome quote blocks */
blockquote {
    /* light background and left border */
    /* background: #f9f9f9; */
    border-left: 4px solid #909090;
    margin: 0.5em 0;
    padding: 1em;
}

/* center all tables on the page */
table {
    margin: 1.5em auto !important;
    /* optional: if you want the caption centered too */
    /* text-align: center !important; */
}